.game-wrapper {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}

.players {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.game-board {
    margin-left: 15px;
}

.game-history {
    margin-left: 15px;
}

.active-move {
    font-weight: 600;
}